<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<img src="#" alt="Bbc Logo" srcset="">
			<li><a href="#">Sign in</a></li>
			<ul>
				<span><a href="#">HOME</a></span>
				<span><a href="#">HOME</a></span>
				<span><a href="#">HOME</a></span>
				<span><a href="#">HOME</a></span>
				<span><a href="#">HOME</a></span>
			</ul>
			<form action="#" method="post">Search</form>
		</header>
		<section>
			<p>This is Section 1</p>

			<ul>Rice Be</ul>
		</section>
		<section>
			<p>This is Section 2</p>

		</section>
		<section>
			<p>This is Section 3</p>
			<p>This is Section 3 Lorem ipsum dolor sit amet.</p>
			<p>This is Section 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ducimus?</p>
			<p>This is Section 3</p>

		</section>

		<section class="big-section">
			<h3>This is big Section</h3> 
			<p>Big section is here......</p>
		</section>
		<section class="section-of-2">
			<h3>This is an Aside</h3>
		</section>

		<section class="section-of-5"></section>
		<section class="section-of-5"></section>
		<section class="section-of-5"></section>
		<section class="section-of-5"></section>
		<section class="section-of-5"></section>
		<footer>
			<p>This is a footer</p>
		</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
